asn1crypto==1.2.0
beautifulsoup4==4.6.0
certifi==2019.9.11
cffi==1.13.2
chardet==3.0.4
cryptography==2.8
idna==2.8
json-tricks==3.12.0
numpy==1.17.3
pandas==0.25.3
pycparser==2.19
pyOpenSSL==19.0.0
PySocks==1.7.1
python-dateutil==2.8.1
python-slugify==1.2.5
pytz==2019.3
requests==2.18.4
six==1.13.0
Unidecode==1.1.1
urllib3==1.22
